.gallery-content {
    padding: 24px;
}

.gallery-image {
    height: 280px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-image-container {
    height: 280px;
    width: 280px;
    padding: 8px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 12px;
    position: relative;
    box-shadow: 0 10px 18px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.2);
}