@using KombniyAppAccount.Models
@model GalleryIndexModel


<div class="container body-content">
    <div class="gallery-content">
        @foreach (var image in Model.Images)
        {
            @*<div class="gallery-image-container"></div>
            @*<div class="gallery-image-container"></div>*@
                <div class="gallery-image" style="background-image:url(@image.Url)"></div>

                           <span>@image.Title</span>
            <ul>
               @foreach(var tag in image.Tags)
                {

                <li>
                    @tag.Description
                </li>
               }
            </ul>

        }
    </div>

</div>