@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!--bu sayfada ilk çıkan sayfa yeni kayıt sayfasına yönlendiren yada oturum açma şeceneği olan -->