
@{
    ViewBag.Title = "KAYIT OL";

}
<!DOCTYPE html>
<html>
<head>
    <title>Kayıt ol</title>
    
</head>
<body>
    <form action="Account/Login" method="post">


        <label>Email:</label>
        <br />
        <input type="email" name="Email" />

        <br />
        <label>Password:</label>
        <br />
        <input type="password" name="Password" />

        <br /><br />
        <input type="submit" value="Kayıt ol" />

    </form>
</body>
</html>
